
<px-card header-text="">
<!--------------------------------------------------------------------------- Cost Input Page start------------------------------------------------------------------------------------------------------------------------------------------------------>

<div id ="costInputPage" ng-show="displayCostInputPage">
	<div id="bredcumFS">
		<p><a href = "" ng-click="backToFS();"><i class="fa fa-angle-left" aria-hidden="true"></i></a><span>Project Tracking</span></p>
		<p>FinSum-Cost Input</p>
		<div class="clear"></div>
	</div>
	<!-- <div id ="fsCostHeader" ng-init="fsStatus();fsReport();">
		<div class="opprDivs">
			<p>Oprutunity Number</p>
			<p><i class="fa fa-star costStar"></i><span>111222</span></p>
		</div>
		<div class="opprDivs">
			<p>FS Revision</p>
			<p><i class="fa fa-flag costFlag" aria-hidden="true"></i><span>111222</span></p>
		</div>
		<div class="opprDivs">
			<p>FS Status</p>
			<p><select name="fsStatus" class="fsStatus"  ng-model=""  ng-options="reg.statusName as reg.statusName for reg in fsStatusArray" required></select></p>
		</div>
		<div class="opprDivs">
			<p>Reporting Currency</p>
			<p><select name="fsReportcur" class="fsReportcur"  ng-model=""  ng-options="rep.reportCurName as rep.reportCurName for rep in fsReportCurrencyArray" required></select></p>
		</div>
		<div class="opprDivs">
			<p>Record Description</p>
			<p><textarea class="recDesc" rows="2" cols="30"></textarea></p>
		</div>
		
		
		<div class="clear"></div>
	</div> -->
	<!-- <div id="costborder">
		<div></div>
		<div></div>
		<div></div>
		<div class="clear"></div>
	</div> -->
	
	<!-- <div id="opprvalues">
		<div>
			<img id="calenderIcon" class="img " src="images/calenderIcon.png">
			<span style="font-family: 'GE Inspira';font-weight: 700;margin-left: 8px;">Oppt Number: </span> <span>111222</span>
		</div>
		<div>
			<span>Oppt Name: </span> <span>Exelon TX Project...</span>
		</div>
		<div>
			<span>Customer Name :  </span> <span>Exelon Corp</span>
		</div>
		<div>
			<span>Site Name:  </span> <span>Colorado</span>
		</div><div class="clear"></div>
	</div> -->
</div>

</px-card>
